<h1>Hola estoy en el RealTimeProducts</h1>
<br>

<div id="productsNew">
{{#each products}}
<div>
    <h2>{{this.title}}</h2>
</div>
<br>
{{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>