<h1>Hola estoy en el RealTimeProducts</h1>
<br>
<div>
  {{#each products}}
    <div>
        <h2>{{this.title}}</h2>
    </div>
{{/each}}
</div>
<div>
  <h2 id="productsNew"></h2>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>