<div>
  <h1>Registro</h1>
   <form id="registerForm" action="/register" method="post" class="form-login">
    <label>Nombre</label>
    <input name="first_name" />
    <br />
    <label>Apellido</label>
    <input name="last_name" />
    <br />
    <label>Email</label>
    <input name="email" id="email" />
    <br />
    <label>Edad</label>
    <input name="age" />
    <br />
    <label name="password">Contraseña</label>
    <input type="password" id="password" name="password"/>
    <input type="submit" />
  </form>
  <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

</div>

<script src="/js/register.js"></script>